#p1 {
	color:red;
	text-decoration: underline;
}
#p2 {
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
}
span.italics {
	font-style: italic;
}
span#bld {
	color:blue;
}
#p3{
	text-transform: uppercase;
}
p.tab{
	padding-left: 40px;
}
p.tab1{

	padding-left: 600px;
}
#p3 .lin {
	text-decoration: line-through;
}
#p4 {
	color:green;
	font-size: 12px;
}

